<nav class="navbar bg-body-tertiary shadow-sm">
  <div class="container-fluid row">
    <div class="col-md-3">
    <form class="d-flex align-items-center" role="search">
      <i class="fa-brands fa-facebook fa-2xl"></i>
      <input class="form-control me-2" type="search" placeholder="Search Facebook" aria-label="Search">
    </form>
    </div>
    <div class="col-md-6">
    <ul class=" d-flex justify-content-between align-items-center">
      <li class="nav-item home" data-text="Home">
        <a routerLink="home" routerLinkActive="active"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item video" data-text="Video">
        <a><i class="fa-solid fa-video"></i></a>
      </li>
      <li class="nav-item store" data-text="Store">
        <a><i class="fa-solid fa-store"></i></a>
      </li>
      <li class="nav-item users" data-text="Group">
        <a><i class="fa-solid fa-users-line"></i></a>
      </li>
      <li class="nav-item gamepad" data-text="Gaming">
        <a><i class="fa-solid fa-gamepad"></i></a>
      </li>
    </ul>
    </div>
    <div class="col-md-3">
      <div class="sit">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-brands fa-facebook-messenger"></i>
        <i class="fa-solid fa-bell"></i>
        <img src="../../assets/profile-img.jpg" alt="">
      </div>
    </div>
  </div>
</nav>
