<div class="post-you">
  <div class="creat d-flex">
    <img src="../../assets/profile-img.jpg" alt="">
    <input class="form-control" type="text" placeholder="What's on your mind, Abanoub?">
  </div>
  <hr />
  <div class="options d-flex justify-ocntent-between align-items-center">
    <div class="option one d-flex align-items-center">
      <i class="fa-solid fa-video" style="color: #ea5353;"></i>
      <h5>Live video</h5>
    </div>
    <div class="option one d-flex align-items-center">
      <i class="fa-solid fa-images" style="color: #58ca60;"></i>
      <h5>Photo/video</h5>
    </div>
    <div class="option two d-flex align-items-center">
      <i class="fa-solid fa-face-grin" style="color: #ecd909;"></i>
      <h5>Feeling/activity</h5>
    </div>
  </div>
</div>
<div class="post">
  <div class="post-frin d-flex align-items-center">
    <img src="../../assets/team-01.png" alt="">
    <div>
      <h5>Aser Ali</h5>
      <div class="d-flex align-items-center ditals">
        <p>21 m</p>
        <i class="fa-solid fa-user-group"></i>
      </div>
    </div>
  </div>
  <p class="body">odio fugit voluptatum ducimus earum autem est incidunt voluptatem\nodit reiciendis aliquam sunt sequi
    nulla dolorem\nnon
    facere repellendus voluptates quia\nratione harum vitae ut
  </p>
  <div class="d-flex vote">
    <div>
      <i class="fa-solid fa-heart" style="color: #eb3c3c;"></i>
      <i class="fa-regular fa-thumbs-up" style="color: rgba(50, 50, 204, 0.834);"></i>
      <span>576</span>
    </div>
    <div>
      <span>140</span>
      <i class="fa-regular fa-comment"></i>
    </div>
  </div>
  <hr class="hr" />
  <div class="row">
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-thumbs-up"></i>
        <h5>Like</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-comment"></i>
        <h5>Comment</h5>
      </div>
    </div>
  </div>
  <hr class="hr" />
</div>
<div class="post">
  <div class="post-frin d-flex align-items-center">
    <img src="../../assets/team-03.png" alt="">
    <div>
      <h5>kero maged</h5>
      <div class="d-flex align-items-center ditals">
        <p>just now</p>
        <i class="fa-solid fa-user-group"></i>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../assets/casual-urban-menswear.jpg" class="img">
  </div>
  <div class="d-flex vote vote2">
    <div>
      <i class="fa-solid fa-heart" style="color: #eb3c3c;"></i>
      <i class="fa-regular fa-thumbs-up" style="color: rgba(50, 50, 204, 0.834);"></i>
      <span>1.3K</span>
    </div>
    <div>
      <span>500</span>
      <i class="fa-regular fa-comment"></i>
    </div>
  </div>
  <hr class="hr" />
  <div class="row">
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-thumbs-up"></i>
        <h5>Like</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-comment"></i>
        <h5>Comment</h5>
      </div>
    </div>
  </div>
  <hr class="hr" />
</div>
<div class="post">
  <div class="post-frin d-flex align-items-center">
    <img src="../../assets/team-01.png" alt="">
    <div>
      <h5>Aser Ali</h5>
      <div class="d-flex align-items-center ditals">
        <p>21 m</p>
        <i class="fa-solid fa-user-group"></i>
      </div>
    </div>
  </div>
  <p class="body">odio fugit voluptatum ducimus earum autem est incidunt voluptatem\nodit reiciendis aliquam sunt sequi
    nulla dolorem\nnon
    facere repellendus voluptates quia\nratione harum vitae ut
  </p>
  <div class="d-flex vote">
    <div>
      <i class="fa-solid fa-heart" style="color: #eb3c3c;"></i>
      <i class="fa-regular fa-thumbs-up" style="color: rgba(50, 50, 204, 0.834);"></i>
      <span>576</span>
    </div>
    <div>
      <span>140</span>
      <i class="fa-regular fa-comment"></i>
    </div>
  </div>
  <hr class="hr" />
  <div class="row">
    <!-- <div class="icons">
      <i class="fa-regular fa-thumbs-up like"></i>
      <i class="fa-solid fa-heart love"></i>
      <i class="fa-solid fa-face-grin-hearts care"></i>
      <i class="fa-solid fa-face-laugh-beam smile"></i>
      <i class="fa-solid fa-face-surprise wow"></i>
      <i class="fa-solid fa-face-sad-tear sad"></i>
      <i class="fa-solid fa-face-tired angry"></i>
    </div> -->
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-thumbs-up"></i>
        <h5>Like</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-comment"></i>
        <h5>Comment</h5>
      </div>
    </div>
  </div>
  <hr class="hr" />
</div>
<div class="post">
  <div class="post-frin d-flex align-items-center">
    <img src="../../assets/team-02.png" alt="">
    <div>
      <h5>Aya Nasr</h5>
      <div class="d-flex align-items-center ditals">
        <p>30 m</p>
        <i class="fa-solid fa-user-group"></i>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../assets/woman-poses-in-dark-room.jpg" class="img">
  </div>
  <div class="d-flex vote vote2">
    <div>
      <i class="fa-solid fa-heart" style="color: #eb3c3c;"></i>
      <i class="fa-regular fa-thumbs-up" style="color: rgba(50, 50, 204, 0.834);"></i>
      <span>1.5K</span>
    </div>
    <div>
      <span>560</span>
      <i class="fa-regular fa-comment"></i>
    </div>
  </div>
  <hr class="hr" />
  <div class="row">
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-thumbs-up"></i>
        <h5>Like</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="li-co d-flex align-items-center">
        <i class="fa-regular fa-comment"></i>
        <h5>Comment</h5>
      </div>
    </div>
  </div>
  <hr class="hr" />
</div>
