<div class="slide position-fixed">
  <div class="header .birthday">
    <h5>Birthdays</h5>
    <div class="birth d-flex align-items-center">
      <i class="fa-solid fa-gift" style="color: #74C0FC;"></i>
      <p><strong>Mina Shenouda</strong> and <strong>2 others</strong> have their birthdays today.</p>
    </div>
  </div>
  <br />
  <div class="header d-flex justify-content-between align-items-center">
    <h5>Contacts</h5>
    <div class="serch d-flex align-items-center">
      <i class="fa-solid fa-magnifying-glass" style="color: #686666;"></i>
      <i class="fa-solid fa-ellipsis" style="color: #686666;"></i>
    </div>
  </div>
  <div class="friends">
    <div class="friend d-flex align-items-center">
      <img class="img" src="../../assets/team-01.png" alt="">
      <h5 class="mt-2">Ahmed Ali</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-02.png" alt="">
      <h5 class="mt-2">Rahma A</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-03.png" alt="">
      <h5 class="mt-2">Amr Mohamed</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-01.png" alt="">
      <h5 class="mt-2">Ali Ahmed</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-02.png" alt="">
      <h5 class="mt-2">Isra Sa.</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-03.png" alt="">
      <h5 class="mt-2">Mina Shenouda</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-01.png" alt="">
      <h5 class="mt-2">Micheal Mina</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-02.png" alt="">
      <h5 class="mt-2">Marwa Ali</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-03.png" alt="">
      <h5 class="mt-2">Kero Maged</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-01.png" alt="">
      <h5 class="mt-2">Aser Ali</h5>
    </div>
    <div class="friend d-flex align-items-center">
      <img src="../../assets/team-02.png" alt="">
      <h5 class="mt-2">Aya Nasr</h5>
    </div>
  </div>
</div>
