<div class="row">
  <div class="col-md-3">
    <app-slider></app-slider>
  </div>
  <div class="col-md-6 mt-20">
    <div class="home">
      <div class="stores d-flex justify-content-between">
        <div class="story">
          <img class="img-fluid" src="../../assets/profile-img.jpg" alt="">
          <div>
          </div>
        </div>
        <div class="story-me">
          <img class="img1 img-fluid" src="../../assets/profile-img.jpg" alt="">
          <img class="img2 img-fluid" src="../../assets/story.jpg" alt="">
          <h5>Your Story</h5>
        </div>
        <div class="story-me story-fr">
          <img class="img1 img-fluid" src="../../assets/team-02.png" alt="">
          <img class="img2 img-fluid" src="../../assets/woman-poses-in-dark-room.jpg" alt="">
          <h5>Aya Nasr</h5>
        </div>
        <div class="story-me story-fr">
          <img class="img1 img-fluid" src="../../assets/team-01.png" alt="">
          <img class="img2 img-fluid" src="../../assets/casual-urban-menswear.jpg" alt="">
          <h5>Kero Maged</h5>
        </div>
      </div>
    </div>
    <div class="posts">
      <app-posts></app-posts>
    </div>
  </div>
  <div class="col-md-3">
    <app-endslider></app-endslider>
  </div>
</div>
